/* Add CSS styling here */
h1, h2, #name-title, a, p, .my-projects{
    font-family: monospace;
}
#name-title{
    font-size: 4rem;
    margin: 2rem;
}
h2{
    font-weight: bolder;
    font-size: 4rem;
    color:whitesmoke;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.nav-container img{
    width: 2rem;
    max-width: 100%;
    border-radius: 50%;
    padding: 0;

}
.nav-container img:hover{
    animation: effect 0.8s infinite;
    width: 2.5rem;
    
}

.nav-container{
    background-image: url(https://cdn.pixabay.com/photo/2019/08/26/12/32/feather-4431599_1280.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    width: 100%;
    
}
a{
    font-size: 1.2rem;
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding: .8rem;
    border-radius: 25%;
}
.nav-container a{
    border: 1px solid whitesmoke;
}
 nav a:hover{
    text-transform: uppercase;
    border: 3px solid whitesmoke;
    font-weight: bold;
    font-size: 2rem;
    
}
footer a:hover{
    font-size: 2rem;
    font-weight: bold;
}
h1{
    background-color:black;
    padding: .5rem;
    color:whitesmoke;
    border-radius: 10%;
    font-size: 2.5rem;
    font-weight: bold;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973_1280.jpg);
    background-size: auto auto;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 5px;
}
.main-content button{
    margin: 0;
    
}


.header-container{
    display: flex;
    flex-direction: row-reverse;
}
.page-header{
    position: relative;

    animation: leftright 20s infinite;
}
@keyframes leftright {
    0% {
      right: 5rem;
    }
    50% {
      right: 250px;
    }
    100% {
      right: 5rem;
    }
  }
  

button{
    border: 3px solid whitesmoke;
    box-shadow: 5px 5px 5px rgb(66, 8, 68);
    width: 8rem;
    padding: .8rem;
    margin: .5rem;
    background-color: black;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 15%;
    text-align: center;
}
button:hover{
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgb(227, 220, 228);
    width: 12rem;
    animation: effect 2.5s infinite;
    padding: .5rem;
    margin-top: 1rem;
    

}
@keyframes effect
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

/*-----------    project page  ------*/
.project-container{
    background-color: black;
    border: 1px solid whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 80%;
}
.my-projects img{
    width: 200px;
    border: 1px solid whitesmoke;
}
.my-projects{
    color: whitesmoke;
    text-align:center;
    margin: .5rem;
    
    
}
.caption    {
    
    text-align: center;
    margin-bottom: 50px;
}
p{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 1rem;
}

footer{
    background-color:black;
    margin: 50px;

}
.footer-text{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width:50%;
    padding: 1rem;

}


.about-text{
    display: flex;
    border: 1px solid whitesmoke;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    margin: 0 auto;
    width: 80%;
}

/*---------media queries---------------------- */

@media only screen and (max-width: 800px) {
    h1{
        font-size: 2.2rem;
    }
    .name-title{
        margin: 2rem;
        font-size: 3rem;
    }
    .footer-text{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    footer button, .main-content button{
        box-shadow: 5px 5px 5px 5px rgb(66, 8, 68);
        
        size: 50px;
    }
    @keyframes leftright {
        0% {
          right: 0;
        }
        50% {
          right: 250px;
        }
        100% {
          right: 0;
        }
      }
    
  }
@media only screen and (max-width: 650px) {
    h1{
        font-size: 2rem;
    }
  
    a{
        padding: .5rem;
        border-radius: 25%;
    }
   
    p{
        font-size: .8rem;
        background-color: black;
        padding: 0;

    }
    button{
        font-size: .8rem;
        width: 6rem;
        padding: .5rem;     
    }
    button:hover{
        font-size: 1rem;
        width: 10rem;
      
    }

   .project-container{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
   }
   .about-text{
  
    padding: 4rem;
    margin: 0 auto;
    width: 70%;
   }

  

  }

  @media only screen and (max-width: 560px) {
  
    h1{
        font-size: 1.5rem;
        padding: 0;
    }
   
    
    a{  
        background-color: black;
        color: whitesmoke;
        text-decoration: none;
        padding: .5rem;
        border-radius: 25%;
        font-size: 1rem;
    }
   
    footer a{
        margin: .2rem;
    }

    .my-projects img{
        width: 100px;
    }
}
@media only screen and (max-width: 425px)   {
    h1{
        font-size: 1rem;        
    }

}